<h1>
    <b>VILLANOS </b>

</h1>
<p>
<ul>
    <table>
        <tr>
            <td>
                N.
            </td>
            <td>
                VILLANO
            </td>
            <td>
                PODER
            </td>
            <td>
                NOMBRE DEL PODER
            </td>
        </tr>
        <tr *ngFor="let villano of VILLANOS; let i= index">
            <td>
                {{ villano.id }}
            </td>
            <td>
                {{ villano.nombre }}
            </td>
            <td>
                {{ villano.poder }}
            </td>
            <td>
                {{villano.nombrepoder}}

            </td>
            <td>
                <button (click)="aumentarPoder(villano.id,villano.poder,villano.nombre,villano.nombrepoder)">PODER +</button>
            </td>

        </tr>
    </table>
</ul>
<p>